:host{
  position: absolute;
  inset: 0;
  z-index: -1;
}

.hero-area {
  position:relative;
  text-align:center;
  background-image: url('../../../assets/hero-background-2.jpg');
  background-size: cover;
  background-position: center;
  color:white;
}

.inner-header {
  height: 50vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
}

.modal-pesquisa{
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translate(-50%);
  max-width: 1000px;
  width: 100%;
  height: 250px;
  backdrop-filter: blur(16px) saturate(180%);

  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(92, 210, 226, 0.2);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  animation: appear-modal;
}

@media (max-width: 1376px) {
  .modal-pesquisa{
      width: calc(100% - 20px);
  }
}


/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

.modal-pesquisa{
  animation-duration: 2s;
}

@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@keyframes appear-modal {
  0% {
    bottom: -250px;
  }
  100% { 
    bottom: -70px;
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}