<div class="widgets__area flex flex-column gap-4 py-4 px-5 border-round-lg md:flex-row">
    <div class="widget_area py-3 px-6 w-full border-bottom-2 border-800 md:border-right-2 md:border-y-none">
        <p class="text-color-secondary text-center text-base">Novos usuários</p>
        <h1 class="text-white text-center">5,097</h1>
        <p class="text-green-600 font-bold text-center">+33.45%</p>
    </div>
    <div class="widget_area py-3 px-6 w-full border-bottom-2 border-800 md:border-right-2 md:border-y-none">
        <p class="text-color-secondary text-center">Transações</p>
        <h1 class="text-white text-center">1.297</h1>
        <p class="text-green-600 font-bold text-center">+15.67%</p>
    </div>
    <div class="widget_area py-3 px-6 w-full border-bottom-2 border-800 md:border-right-2 md:border-y-none">
        <p class="text-color-secondary text-center">Faturamento</p>
        <h1 class="text-white text-center">R$177.598,32</h1>
        <p class="text-red-600 font-bold text-center">-3.97%</p>
    </div>
    <div class="widget_area py-3 px-6 w-full">
        <p class="text-color-secondary text-center">Novos colaboradores</p>
        <h1 class="text-white text-center">5,097</h1>
        <p class="text-green-600 font-bold text-center">+33.45%</p>
    </div>
</div>